@import './_variable.scss';
@import './general-components.scss';
@import './breakpoint.scss';
@import './mixin.scss';
@import './tour1.scss';
@import './tour2.scss';
@import './login.scss';
@import './navbar.scss';
@font-face {
    font-family: "cairoFont";
    src: url(../fonts/Cairo-Regular.ttf);
}

body {
    font-family: "cairoFont", 'Cambira, Cochin, Georgia, Times, Times New Roman, serif' !important;
    background: $dark-gradient;
}

// main-container
.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    overflow-x: hidden;
}

//navbar-section
.navbar-brand {
    img {
        width: 133px;
        height: 54px;
    }
}

//about-us-section
.who-are-we {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center -50px;
    background-attachment: fixed;
    height: 400px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex !important;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        z-index: -1;
    }
    .about-details {
        z-index: 10;
    }
    h2 {
        font-size: 48px;
        font-weight: 800;
        color: $main-color;
    }
    p {
        padding: 25px;
        font-size: 28px;
        text-align: justify;
        color: $secondry-color;
    }
}

//our-services-section
.our-services {
    h1 {
        font-size: 48px;
        font-weight: 800;
        color: $main-color;
    }
    .service-card {
        @include service-card;
    }
    .top {
        background: url("../images/rent-car.jpg") no-repeat;
    }
    .sec-se .top {
        background: url("../images/travel.png") no-repeat;
    }
    .other {
        background: url("../images/hous.png") no-repeat;
    }
    .sec-the .top {
        background: url("../images/airport.png") no-repeat;
    }
    .frame {
        @include frame;
    }
}

//splitter
.splitter {
    @include splitter;
    background-image: url(../images/bg2.png);
    h1 {
        font-size: 48px;
        font-weight: 800;
        color: $main-color;
    }
    @include counter;
}

//tours
.tours {
    h1 {
        font-size: 48px;
        font-weight: 800;
        color: $main-color;
    }
    .service-card {
        @include tour-card;
    }
    .sec-fe .top {
        background: url("../images/egypt.jpg") no-repeat;
        background-size: cover;
        background-position: center center;
        opacity: 0.90;
    }
    .frame {
        @include frame;
    }
}

//splitter2
.splitter2 {
    @include splitter;
    background-image: url(../images/bg3.png);
    h1 {
        font-size: 48px;
        font-weight: 800;
        color: $main-color;
        margin-top: 150px;
    }
    .frame {
        @include frame;
    }
}

//contact
.contact {
    @include contact;
}

//copyright
.copyright {
    width: 100%;
    background-color: $sub-secondry-color;
}