$text-strock:0.02rem #000;
.gallary {
    h2 {
        font-size: 48px;
        font-weight: 800;
        color: $main-color;
    }
    .card {
        @include cards;
    }
}

.tour2 {
    @include header-1;
    background-image: url(../images/bg.jpg);
}